@import "Variables";

.container {
    @include theContainer;
    h1 {
        font-size: $font-large;
        margin-bottom: 30px;
        color: $blue-dark;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    h2 {
        font-size: $font-large;
        margin-bottom: 30px;
        color: $blue-dark;
    }
    .inst{
        padding-bottom: 10px;
        margin-top: -10px;
        margin-left: -20px;
        // margin-top: -20px;
        // margin-bottom: -80px;
    }
    .center{
        text-align: center;
    }
}
  
@media (max-width:$breakpoint-tablet) {
    // .inst{
    //     margin-left: 20px;
    //     margin-top: 20px;
    //     margin-bottom: 80px;
    // }
}
  
  
  
  
  
  
  