@import "Variables";

.container{
    text-align: left;
    margin-top: 5vh;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        width: 80%;
        li {
            .ownerDiv{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                button{
                    border: none;
                    background: $blue;
                    cursor: pointer;
                    color: $white;
                    transition: all 0.3s ease;
                    border-radius: 6px;
                    border-style: none;
                    cursor: pointer;
                    font-size: $font-small;
                    text-align: center;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    font-size: $font-small;
                    color: $black;
                    padding: 8px;
                
                }

            }
            padding: 10px;
            margin: 10px;
            list-style: none; 
            border-bottom: 1px solid $black;
            p{
                margin: 1px;
            }
            .name{
                // text-align: left;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: $font-normal;
                margin: 1px;

            }
           
        }
    }
   
}


@media only screen and (max-width: $breakpoint-mobile) {
    .container{
        ul{
            li{
                width: 30vh;
                .ownerDiv{
                    button{
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
                
        }
    }
    
}
