@import "Variables";

.container{
    text-align: left;
    margin-top: 10vh;
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li {
        padding: 10px;
        margin: 10px;
        list-style: none; 
        .icon{
            font-size: 45px;
            margin: auto;
            display: block;
            margin-bottom: 30px;
         
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .container{
        ul{
            flex-wrap: wrap;
        }
    }
    
}
