@import "Variables";

.container{
    text-align: left;
    margin-top: 10vh;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        width: 80%;
        li {
            .ownerDiv{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                button{
                    // margin: 2px;
                    border: none;
                    background: $blue;
                    cursor: pointer;
                    color: $white;
                    transition: all 0.3s ease;
                    border-radius: 6px;
                    border-style: none;
                    cursor: pointer;
                    font-size: $font-small;
                    height: 30px;
                    text-align: center;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    width: 60px;
                    margin-left: 50px;
                    // margin-top: 4px;
                    // color: #E0E0E0;
                    color: $black;
                
                }

            }
            padding: 10px;
            margin: 10px;
            list-style: none; 
            border-bottom: 1px solid $black;
            p{
                margin: 1px;
            }
            .name{
                // text-align: left;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: $font-normal;
                margin: 1px;

            }
            .owner{
                // margin-right: 100px;
            }

            .locationIcon{
                font-size: 15px;
                color: $blue;
            }
            .palce{
                // float: right;
                // margin-right: 100px;
            }
           
        }
    }
   
}
// .containerinProfile{
//     ul{
//         display: block;
//         li {
//             padding: 10px;
//             margin: 10px;
//             list-style: none; 
//             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//         }
//         p{
//             margin: 10px;
//         }
//         .name{
//             text-align: left;
//             margin-bottom: 10px;
//             font-weight: bold;
//             font-size: $font-normal;
//         }
//         .bookIcon{
//             font-size: 45px;
//             margin-bottom: 10px;
//         }
//         .locationIcon{
//             font-size: 20px;
//             color: $blue;
//         }
//     }

// }

@media only screen and (max-width: $breakpoint-tablet) {
    .container{
        ul{
            li{
                width: 30vh;
            }
        }
    }
    
}
