@import "Variables";

.main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 90vh;
    max-width: $breakpoint-large;
}

.mainWithImage{
    width: 100%;
    margin: auto;
    padding-top: 20px;
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url("../public/background.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover ;
    
}