@import "Variables";

.container {
    @include theContainer;
    .backBtn{
        @include back;
        margin-left: 0px;
        margin-top:20px;
        margin-bottom: 60px;
        a{
            display: flex;
            align-items: center;  
        }
    }
    p:first-child {
        margin-top: 40px;
    }
    max-width: $breakpoint-large;
    margin: auto;
    ul{
        @include ul;
        li{
        margin-top: 20px
        }
    }
   
}