@import "Variables";

.container{
    form{
        width: 60%;
        display:flex;
        margin: 0 auto;
        flex-direction:row;
        border:1px solid gray;
        padding:1px;
        label{
        display: none;
        }

    }

    .searchInput[type=text] {
        padding: 12px;
        flex:4;
        border:none;
        border-radius: 4px 0 0 4px;
        border-color: transparent ;
        
    }
    .searchButton {
        // border:1px solid $gray;
        background:$blue;
        color:white;
        color: $black;
        flex:1;
        font-size: $font-normal;
        // border-radius: 4px;
        border-radius: 0 4px 4px 0;

        border: none;
        .srOnly{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
    } 
}
.modal{
    background-color: white;
    z-index: 1;
    min-height: 80vh;
    .result{
        padding-left: 40px;
        padding-top: 40px;
        font-size: $font-large;
    }
    .closeButton{
        width: 40px;
        height: 40px;
        font-size: 40px;
        background-color: transparent;
        border: none;
        margin-left: 40px;
        margin-top: 40px;
        span{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
    }
    .resultList {
        list-style: none;
        padding-left: 40px;
      .listItem {
        padding: 20px;
        border-bottom: 1px solid $black;
        width: 90%;
        p{
            margin: 10px;
        }
        .name{
            text-align: left;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: $font-normal;
        }
        .locationIcon{
            font-size: 20px;
            color: $blue;
        }
        .ownerDiv{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            button{
                border: none;
                background: $blue;
                cursor: pointer;
                color: $white;
                transition: all 0.3s ease;
                border-radius: 6px;
                border-style: none;
                cursor: pointer;
                font-size: $font-small;
                text-align: center;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                font-size: $font-small;
                color: $black;
                padding: 8px;
            
            }
        }

       
      }
    }

    
  }

@media (max-width:$breakpoint-tablet) {
    .container{
        form{
            width: 80%;
        }
    }
    
}
  