@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    line-height:1.6;
}
body{
    background-color: $white;
}
.h1-heading{
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;

}
.logoutBtn{
    border: none;
}
.deleteBtn{
    border: none;
    background: $red;
    color: $white;
    font-size: $font-normal;
    transition: all 0.3s ease;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-size: $font-small;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 12px 30px;

}
.updateStatusBtn1{
    border: none;
    background: $green;
    cursor: pointer;
    color: $white;
    font-size: $font-normal;
    transition: all 0.3s ease;
    border-radius: 6px;
    border-style: none;
    font-size: $font-small;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    padding: 12px;

}
.updateStatusBtn2{
    border: none;
    background: $orange;
    cursor: pointer;
    color: $white;
    font-size: $font-normal;
    transition: all 0.3s ease;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-size: $font-small;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    padding: 12px;
}
.status1{
    color: $green;
}
.status2{
    color: $orange;
}
.srOnly{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


@mixin theContainer {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 16px;
    padding: 20px;
    line-height: 1.5;
    min-height: 80vh;

}


@media (max-width:$breakpoint-tablet) {
    body{
        font-size: $font-small;
    }
    .deleteBtn{
        padding: 8px 16px;

    }
    .updateStatusBtn1{
        padding: 8px;
        margin-right: 8px;
        margin-left: 8px;

    }
    
    .updateStatusBtn2{
        padding: 8px;
        margin-right: 10px;
        margin-left: 8px;
    }
    
    }