// Define variables for colors
$white: #fff;
$black: #000;
$gray:#f1f1f1;
$blue: #2196F3;
$blue-dark:#1f6aa9;
// $blue: #AED581;
$inherit: inherit;
$green: #4c662e;
$red:  #d11c13;
// $orange: #FF5F15;
$orange: #b64f29;
/* Define  variables to store fontsizes */
$font-normal: 0.9em;
$font-small:0.8em;
$font-large:1.5em;
$font-xl:2em;

/* Define  variables to store breakpoints */
$breakpoint-mobile: 599px;
$breakpoint-tablet: 768px;
$breakpoint-desktop:922px;
$breakpoint-large: 1200px;
